<header class="actions">
  <a class="button" routerLink="/drivers/add">&plus;&nbsp;&nbsp;Add driver</a>
</header>
<section class="drivers">
  <h1>Drivers:</h1>
  <div *ngIf="this.drivers == null">Loading....</div>
  <ng-container *ngIf="this.drivers != null">
    <div *ngIf="this.drivers.length == 0">No drivers to show.</div>
    <div class="table-container">
      <table *ngIf="this.drivers.length > 0">
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let driver of this.drivers">
          <td>{{driver.name}}</td>
          <td>{{driver.surname}}</td>
          <td class="actions">
            <a routerLink="/drivers/{{driver.id}}" class="button mini warning material-symbols-outlined">
              edit
            </a>
            <button (click)="this.deleteDriver(driver)" class="mini danger material-symbols-outlined">
              delete
            </button>
          </td>
        </tr>
      </table>
    </div>
  </ng-container>
</section>
